################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/websitem/Web.config
/websitem/Web.Debug.config
/websitem/Web.Release.config
