@media (max-width: 768px) {
    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
        opacity: 1;
        background-color: #000017;
        visibility: visible;
        transition: background-image 0.5s;
    }
    

}
.navbar-nav .nav-link {
    color: white !important;
    font-size: 20px;
    margin-left: 40px;
    font-family: Arial, sans-serif;
}

.scale:hover {
    scale: 1.1;
    transition: var(--transition);
}

/* 768px ve altındaki ekranlar için stiller */
@media (max-width: 768px) {
    .navbar-nav .nav-link {
        font-size: 16px; /* Font boyutunu 16px yap */
        margin-left: 20px; /* Margin'i küçült */
    }
}

/* 1024px ve altındaki ekranlar için stiller */
@media (max-width: 1024px) {
    .navbar-nav .nav-link {
        font-size: 24px; /* Font boyutunu 24px yap */
        margin-left: 30px; /* Margin'i azalt */
    }
}

    @keyframes kaydir {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    .altformum {
        width: 70%;
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
        padding: 25px;
        clear: both;
        position: relative;
    }

    .kullanilan-diller {
        display: flex;
        animation: kaydir 10s linear infinite;
        white-space: nowrap;
        height: 45px;
        gap: 120px;
    }

        .glitch {
            position: relative;
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 1.2;
            color: rgba(0, 191, 255, 0.99);
            letter-spacing: 6px;
            z-index: 1;
        }

    .glitch-wrapper {
        width: 100%;
        height: 100%;
        display: contents;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: rgba(0, 0, 0, 0);
    }


    .glitch:before {
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: -2px;
        width: 100%;
        color: rgba(255, 0, 0, 0.99);
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-before 3s infinite linear alternate-reverse;
    }

    .glitch:after {
        content: attr(data-glitch);
        position: absolute;
        top: 0;
        left: 2px;
        width: 100%;
        color: rgba(255, 0, 0, 0.99);
        background-color: rgba(0, 0, 0, 0);
        overflow: hidden;
        clip: rect(0, 900px, 0, 0);
        animation: noise-after 2s infinite linear alternate-reverse;
    }

    @keyframes noise-before {
        0% {
            clip: rect(61px, 9999px, 52px, 0);
        }

        5% {
            clip: rect(33px, 9999px, 144px, 0);
        }

        10% {
            clip: rect(121px, 9999px, 115px, 0);
        }

        15% {
            clip: rect(144px, 9999px, 162px, 0);
        }

        20% {
            clip: rect(62px, 9999px, 180px, 0);
        }

        25% {
            clip: rect(34px, 9999px, 42px, 0);
        }

        30% {
            clip: rect(147px, 9999px, 179px, 0);
        }

        35% {
            clip: rect(99px, 9999px, 63px, 0);
        }

        40% {
            clip: rect(188px, 9999px, 122px, 0);
        }

        45% {
            clip: rect(154px, 9999px, 14px, 0);
        }

        50% {
            clip: rect(63px, 9999px, 37px, 0);
        }

        55% {
            clip: rect(161px, 9999px, 147px, 0);
        }

        60% {
            clip: rect(109px, 9999px, 175px, 0);
        }

        65% {
            clip: rect(157px, 9999px, 88px, 0);
        }

        70% {
            clip: rect(173px, 9999px, 131px, 0);
        }

        75% {
            clip: rect(62px, 9999px, 70px, 0);
        }

        80% {
            clip: rect(24px, 9999px, 153px, 0);
        }

        85% {
            clip: rect(138px, 9999px, 40px, 0);
        }

        90% {
            clip: rect(79px, 9999px, 136px, 0);
        }

        95% {
            clip: rect(25px, 9999px, 34px, 0);
        }

        100% {
            clip: rect(173px, 9999px, 166px, 0);
        }
    }

    @keyframes noise-after {
        0% {
            clip: rect(26px, 9999px, 33px, 0);
        }

        5% {
            clip: rect(140px, 9999px, 198px, 0);
        }

        10% {
            clip: rect(184px, 9999px, 89px, 0);
        }

        15% {
            clip: rect(121px, 9999px, 6px, 0);
        }

        20% {
            clip: rect(181px, 9999px, 99px, 0);
        }

        25% {
            clip: rect(154px, 9999px, 133px, 0);
        }

        30% {
            clip: rect(134px, 9999px, 169px, 0);
        }

        35% {
            clip: rect(26px, 9999px, 187px, 0);
        }

        40% {
            clip: rect(147px, 9999px, 137px, 0);
        }

        45% {
            clip: rect(31px, 9999px, 52px, 0);
        }

        50% {
            clip: rect(191px, 9999px, 109px, 0);
        }

        55% {
            clip: rect(74px, 9999px, 54px, 0);
        }

        60% {
            clip: rect(145px, 9999px, 75px, 0);
        }

        65% {
            clip: rect(153px, 9999px, 198px, 0);
        }

        70% {
            clip: rect(99px, 9999px, 136px, 0);
        }

        75% {
            clip: rect(118px, 9999px, 192px, 0);
        }

        80% {
            clip: rect(1px, 9999px, 83px, 0);
        }

        85% {
            clip: rect(145px, 9999px, 98px, 0);
        }

        90% {
            clip: rect(121px, 9999px, 154px, 0);
        }

        95% {
            clip: rect(156px, 9999px, 44px, 0);
        }

        100% {
            clip: rect(67px, 9999px, 122px, 0);
        }
    }

    .shapes {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: #fefeff;
        clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        animation: shapes-yrjcu9 2s infinite cubic-bezier(0.3,1,0,1);
    }

    @keyframes shapes-yrjcu9 {
        33% {
            border-radius: 0;
            clip-path: polygon(0 0,100% 0,100% 100%,0 100%);
        }

        66% {
            border-radius: 0;
            clip-path: polygon(50% 0,50% 0,100% 100%,0 100%);
        }
    }


    @keyframes customAni {
        0% {
            transform: scale(0.5);
            transform-origin: 50% 100%;
        }

        100% {
            transform: scale(1);
            transform-origin: 50% 100%;
        }
    }


    $primary: hsla(120, 74%, 75%, 0.6); //#8eee8e
    $primary-dark: hsla(120, 74%, 75%, 0.3); //#8eee8e

    $white87: hsla(0, 0%, 100%, 0.87); //#fff
    $white60: hsla(0, 0%, 100%, 0.6); //#fff
    $white30: hsla(0, 0%, 100%, 0.3); //#fff
    $white15: hsla(0, 0%, 100%, 0.15); //#fff
    $white0: hsla(0, 0%, 100%, 0.0); //#fff

    $dark-gray: hsla(0, 0%, 7%, 1); //#121212

    $link: hsla(208, 100, 67, 1); //#56afff
    $link-light: hsla(192, 100, 49, 1); //#00C8FB

    body {
        background-color: #121212;
        overflow-x: hidden;
    }

    .o-page {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    * {
        margin: 0;
        padding: 0;
    }

    p {
        font-family: roboto;
        text-align: center;
        margin-top: 16px;
    }

    a {
        text-decoration: none;
    }

    .skill-set {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .skill-outer {
        display: block;
    }

    svg {
        max-width: 100%;
        height: auto;
    }
}


///////////////////// Code /////////////////////


.code-rect {
    stroke: #fff;
    stroke-width: 5;
}

.code-symbol {
    opacity: 0;
    animation: symbol-animation 2s forwards;
}

@keyframes symbol-animation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


@keyframes codeAnimation {
    0% {
        content: "</>";
    }

    20% {
        content: "CSS";
    }

    40% {
        content: "SASS";
    }

    60% {
        content: "JS";
    }

    80% {
        content: "HTML";
    }

    100% {
        content: "</>";
    }
}


.code-symbol {
    animation: codeAnimation 3s linear infinite;
}


///////////////////// Interactive /////////////////////

@keyframes interactiveMotion0 {
    from

{
    d: path("M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0");
}

to {
    d: path("M60,61.83a20,20 0 1,0 40,0a20,20 0 1,0 -40,0");
    opacity: 0;
}

}

@keyframes interactiveMotion1 {
    from {
        d: path("M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0");
    }

    to {
        d: path("M55,61.83a25,25 0 1,0 50,0a25,25 0 1,0 -50,0");
        opacity: 0;
    }
}

@keyframes interactiveMotion2 {
    from {
        d: path("M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0");
    }

    to {
        d: path("M50,61.83a30,30 0 1,0 60,0a30,30 0 1,0 -60,0");
        opacity: 0;
    }
}

@keyframes interactiveMotion3 {
    from {
        d: path("M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0");
    }

    to {
        d: path("M45,61.83a35,35 0 1,0 70,0a35,35 0 1,0 -70,0");
        opacity: 0;
    }
}


@keyframes interactiveMotion4 {
    from {
        d: path("M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0");
    }

    to {
        d: path("M40,61.83a40,40 0 1,0 80,0a40,40 0 1,0 -80,0");
        opacity: 0;
    }
}


.ellipse0 {
    animation: interactiveMotion0 3s ease-out infinite;
}

.ellipse1 {
    animation: interactiveMotion1 3s ease-out infinite;
}

.ellipse2 {
    animation: interactiveMotion2 3s ease-out infinite;
}

.ellipse3 {
    animation: interactiveMotion3 3s ease-out infinite;
}

.ellipse4 {
    animation: interactiveMotion4 3s ease-out infinite;
}


.interactive {
    &:hover, &:focus

{
    .ellipse, text

{
    animation: rainbow-color-fill 1s linear infinite;
}

.hand,
.bar {
    stroke: #FFB9B9;
}

.ellipse4 {
    stroke: #DAB9FF;
}

.ellipse3 {
    stroke: #FFB9B9;
}

.ellipse2 {
    stroke: #FFFEB9;
}

.ellipse1 {
    stroke: #B9FFCC;
}

.ellipse0 {
    stroke: #B9C9FF;
}

.ellipse {
    stroke: transparent;
}

}
}


///////////////////// Aesthetic /////////////////////

.graphic-dot1 {
    offset-path: path("M68.54 60.66h60v60h-60z");
    animation: graphicDotMotion 10s linear infinite reverse;
}

.graphic-dot2 {
    offset-path: path("M68.85 31a30 30 0 0 1 30 30 30 30 0 0 1-30 30 30 30 0 0 1-30-30 30 30 0 0 1 30-30z");
    animation: graphicDotMotion 10s linear infinite;
}


@keyframes graphicDotMotion {
    to {
        motion-offset: 100%;
        offset-distance: 100%;
    }
}

.graphic {
    &:hover, &:focus

{
    .graphic-middle, text

{
    animation: rainbow-color-fill 1s linear infinite;
}

.graphic-shape1 {
    stroke: #B9FFCC;
}

.graphic-shape2 {
    stroke: #B9C9FF;
}

.graphic-dot2 {
    fill: #B9FFCC;
}

.graphic-dot1 {
    fill: #B9C9FF;
}

}
}

///////////////////// Typography /////////////////////

@keyframes typoWave {
    from

{
    d: path("M124.74 38l32.64 82.45-7.25-6.14a3 3 0 0 0-3.83 0l-5.3 4.51a3.66 3.66 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.82 0l-5.35 4.53a3.64 3.64 0 0 1-4.7 0l-5.34-4.52a3 3 0 0 0-3.83 0l-5.34 4.53a3.66 3.66 0 0 1-4.7 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.53a3.67 3.67 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.52a3.64 3.64 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.83 0l-5.35 4.53a3.63 3.63 0 0 1-4.7 0l-7.71-6.52L17.25 38z");
}

to {
    d: path("M120 38l10.39 21.31-7.25-6.15a3 3 0 0 0-3.83 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.39 4.51a3.63 3.63 0 0 1-4.7 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.82 0l-5.35 4.53a3.63 3.63 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.82 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0L27 53.14a3 3 0 0 0-3.83 0l-5.36 4.53a3.63 3.63 0 0 1-4.7 0l-7.7-6.52L12.46 38z");
}

}

@keyframes typoWaveHover {
    from {
        d: path("M124.74 38l32.64 82.45-7.25-6.14a3 3 0 0 0-3.83 0l-5.3 4.51a3.66 3.66 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.82 0l-5.35 4.53a3.64 3.64 0 0 1-4.7 0l-5.34-4.52a3 3 0 0 0-3.83 0l-5.34 4.53a3.66 3.66 0 0 1-4.7 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.53a3.67 3.67 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.52a3.64 3.64 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.83 0l-5.35 4.53a3.63 3.63 0 0 1-4.7 0l-7.71-6.52L17.25 38z");
    }

    to {
        d: path("M120 38l10.39 21.31-7.25-6.15a3 3 0 0 0-3.83 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.39 4.51a3.63 3.63 0 0 1-4.7 0l-5.34-4.53a3 3 0 0 0-3.83 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0l-5.34-4.53a3 3 0 0 0-3.82 0l-5.35 4.53a3.63 3.63 0 0 1-4.7 0l-5.35-4.53a3 3 0 0 0-3.82 0l-5.34 4.53a3.65 3.65 0 0 1-4.71 0L27 53.14a3 3 0 0 0-3.83 0l-5.36 4.53a3.63 3.63 0 0 1-4.7 0l-7.7-6.52L12.46 38z");
    }
}


.wave-middle {
    animation: typoWave 3s ease-out infinite alternate;
}

.typo {
    &:hover, &:focus

{
    .typo-right-under, .typo-left-under, text

{
    animation: rainbow-color-fill 1s linear infinite;
    content: "</>"; /* Güncellenen sembol */
}

.typo-right-under,
.typo-left-under,
.typo-right-top,
.typo-left-top {
    stroke: transparent;
}

}
}



//////////effective/////////

@keyframes check-animation {
    0%

{
    stroke-dashoffset: 100;
}

100% {
    stroke-dashoffset: 0;
}

}

.checkmark {
    stroke-dasharray: 100;
    stroke-dashoffset: 100;
    animation: check-animation 2s ease forwards;
}



////////////////////////Dynamic////////////////////////
@keyframes dynamic-motion {
    0%

{
    transform: rotate(0deg);
}

100% {
    transform: rotate(360deg);
}

}

.dynamic-circle {
    animation: dynamic-motion 4s linear infinite;
}

.dynamic-line {
    animation: dynamic-motion 6s linear infinite;
}


///////////////////////////////


.bg-light {
    background-color: #f9fafc;
}
@media (max-width: 768px){
    .panel {
        padding: 2rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        flex-direction: row;
        font-size: 16px;
    }
}
@media (min-width: 769px) {
    .panel {
        margin: 9px;
        padding: 2rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        display: flex;
        justify-content: center;
        gap: 14rem;
        flex-direction: row;
        font-size: 16px;
    }
}

    .flow {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
        justify-content: center;
    }

    .headline {
        font-size: 2.5rem;
        line-height: 1.2;
        color: #ff6f61;
    }

    .text-700 {
        font-size: 1.8rem;
        color: #333;
    }

    .key-facts__list {
        list-style-type: none;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 2rem;
    }

        .key-facts__list li {
            align-items: center;
            background-color: cadetblue;
            padding: 2rem;
            border-radius: 8px;
            box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
        }

            .key-facts__list li:hover {
                transform: translateY(-5px);
            }

    .material-symbols-outlined {
        font-size: 3rem;
        color: #ff6f61;
    }

    .color-dark-glare {
        color: #333;
        font-size: 1.1rem;
        line-height: 1.5;
    }

    p {
        margin: 0;
        padding: 0;
    }
