@{
    ViewBag.Title = "Home Page";
}

<style>
    .navbar-nav .nav-link {
        color: white !important;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url(/Media/starry.svg);
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
        opacity: 1;
        visibility: visible;
    }

    .backgroundcontainer {
        margin-top: 120px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
        padding: 25px;
        width: 40%; 
    }

    .altformum {
        margin-top: 20px; /* Üst formdan ayrılmasını sağlamak için margin ekliyoruz */
        background-color: rgba(255, 255, 255, 1);
        border-radius: 50px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
        padding: 25px;
        clear: both; /* Yüzen içeriklerden etkilenmemesi için clear ekliyoruz */
    }

    .gif-fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: black;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

        .gif-fullscreen img {
            width: 100%;
            height: 100%;
        }
</style>


@*<div id="gifContainer" class="gif-fullscreen">
        <img src="~/Media/BURAK.gif" alt="Sinematik GIF" />
    </div>

    <div id="mainContent" style="display:none;">
     Ana sayfa içeriği buraya gelecek
    <h1>Hoş Geldiniz</h1>
        <p>Bu içerik GIF oynatıldıktan sonra gösterilecektir.</p>

    </div>
*@


<div class="backgroundcontainer" style="font-family:'Times New Roman', Times, serif; font-size:20px;">
    <h1><strong>Burak Kurtulush</strong></h1>
    <br />
    <div class="container">
        <div class="container-content">
            <h3 style="color:black;">
                Junior <a style="color: green;"> Creative</a> Web Designer and
                <br>
                Software<a style="color: red;"> Developer</a>
            </h3>
            <br />
            <button type="button" class="btn btn-success btn-outline-primary" style="border:none; border-radius:30px; width:200px; font-size:x-large; color:white;">Hiring</button>
        </div>
    </div>
</div>
<br />




<div class="altformum">
    <h1>Buraya yaptigin projelerin fotografini koyarsin</h1>

</div>






<script>
    window.onload = function () {
        setTimeout(function () {
            // GIF'i gizle
            document.getElementById('gifContainer').style.display = 'none';
            document.getElementById('mainContent').style.display = 'block';
            // Ana sayfa içeriğini göster
        }, 7400); // 5 saniye sonra
    };</script>
