@{
    ViewBag.Title = "Burak Kurtulush - Personal Website";
}
@model List<websitem.Controllers.MailModel>
<style>

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: Arial, sans-serif;
        opacity: 1;
        background-color: #000017;
        visibility: visible;
        transition: background-image 0.5s;
    }

    .background1 {
        display: flex;
        position: relative;
        background-image: url(/Media/starry.svg);
        background-size: cover;
        background-position: center;
        margin: 0;
        height: 115%;
        width: auto;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .background2 {
        position: relative;
        width: auto;
        height: auto;
        background-color: #000017;
        opacity: 0;
        transition: opacity 0.5s;
        z-index: 2;
        align-items: center;
    }

    .background2a {
        position: relative;
        margin-left: 0px;
        width: auto;
        height: auto;
        background-color: white;
        background-image: none;
        opacity: 1;
        transition: opacity 0.5s;
        color: black;
        z-index: 3;
    }

    .show-background {
        opacity: 1;
    }

    .backgroundcontainer {
        margin-top: 120px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
        padding: 25px;
        width: 40%;
    }

    .blur-background {
        display: flex;
        height: auto;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0px 4px 25px 25px rgba(0, 0, 0, 0);
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .background3 {
        position: relative;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: black;
        background-image: none;
        opacity: 1;
        transition: opacity 0.5s;
        color: white;
        z-index: 4;
        align-items: flex-start;
    }

        .background3 ol, .background3 ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

    .card-container {
        display: flex;
        flex-wrap: wrap;
        gap: 21px;
        /*margin-top: 45px;*/
        flex-direction: row;
        align-items: center;
    }

    .card {
        flex: 1 1 18rem;
        background: transparent;
        color: white;
        align-items: center;
    }

    .services-container {
        display: flex;
        justify-content: space-between;
        /*margin-top: 20px;*/
    }

    .service-item {
        flex: 1;
        margin: 0 10px;
        text-align: center;
    }

    h4 {
        margin-bottom: 10px;
    }

    .background3 .flex {
        gap: 6rem;
        justify-content: center;
        transition: color 2.5s 0.5s ease-in;
    }

    .wrapper {
        max-width: 100%;
        padding: 0 1.33rem;
        margin-left: auto;
        margin-right: auto;
        position: relative;
    }

    .between {
        justify-content: space-between;
        gap: 1rem;
    }

    .flex {
        display: flex;
        flex-wrap: wrap;
    }

    .color-light {
        color: #f1faee;
    }

    a[class] {
        text-decoration-color: transparent;
        transition: all 0.2s 0s ease-in-out;
    }

    .social-media {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin: 30px
    }

    .social-link img {
        transition: transform 0.3s;
    }

    .social-link:hover img {
        transform: scale(1.1);
    }

    .scale:hover {
        scale: 1.1;
        transition: var(--transition);
    }
</style>

<div class="background1">
    <div class="blur-background">
        <h1 style="color: white; text-shadow: 0px 0px 14px rgba(168, 218, 220, 0.6666666667);">
            <span class="glitch-wrapper">
                <span class="glitch" data-glitch="Dynamic">Dynamic</span>
            </span><strong>web solutions that engage and deliver results.</strong>
        </h1>

        <br />
        <div>
            <div class="container">
                <div class="container-content">
                    <h3 style="color: white; text-shadow: 0px 0px 14px rgba(168, 218, 220, 0.6666666667);">
                        I can put my
                        <span class="glitch-wrapper">
                            <span class="glitch" style="color: rgba(179, 0, 255, 0.99);" data-glitch="love">love</span>
                        </span>
                        of coding to work for you and your business, creating responsive websites, stunning web applications and aesthetic interfaces.
                    </h3>
                    <br />
                </div>
            </div>
        </div>
    </div>

    <div class="altformum">
        <div class="kullanilan-diller">
            <img src="~/Media/html.png" alt="HTML5" title="HTML5" />
            <img src="~/Media/css.png" alt="CSS3" title="CSS3" />
            <img src="~/Media/js.png" alt="JavaScript" title="JavaScript" />
            <img src="~/Media/bs.png" alt="Bootstrap" title="Bootstrap" />
            <img src="~/Media/react.png" alt="React.js" title="React.js" />
            <img src="~/Media/jquery.png" alt="JQuery" title="JQuery" />
            <img src="~/Media/aspnet.png" alt="ASP.NET" title="ASP.NET" />

            <!-- Surekli bastan basliyor -->
            <img src="~/Media/html.png" alt="HTML5" title="HTML5" />
            <img src="~/Media/css.png" alt="CSS3" title="CSS3" />
            <img src="~/Media/js.png" alt="JavaScript" title="JavaScript" />
            <img src="~/Media/bs.png" alt="Bootstrap" title="Bootstrap" />
            <img src="~/Media/react.png" alt="React.js" title="React.js" />
            <img src="~/Media/jquery.png" alt="JQuery" title="JQuery" />
            <img src="~/Media/aspnet.png" alt="ASP.NET" title="ASP.NET" />
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <div style="width:100%; height:auto; display:flex; justify-content:center;">
        <button type="button"
                class="btn scale"
                style="transition: var(--transition); cursor: pointer; border: none; border-radius: 30px; width: 200px; font-size: x-large; background-color: #ff5a5f; color: white; "
                data-bs-target="#contactmodal" data-bs-toggle="modal">
            Get in Touch
        </button>
    </div>
</div>
<div class="modal fade" id="contactmodal" tabindex="-1" aria-labelledby="contactmodalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="contactmodalLabel">Get in Touch</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="contactForm">
                    <!-- Unvan -->
                    <div class="mb-3" style=" width: 20%; ">
                        <label for="title-select" class="form-label">Title</label>
                        <select id="title-select" name="Title" class="form-select" aria-label="Title">
                            <option selected></option>
                            <option value="1">Mr.</option>
                            <option value="2">Mrs.</option>
                            <option value="3">Ms.</option>
                            <option value="4">Miss</option>
                        </select>
                    </div>

                    <!-- Ad Soyad  -->
                    <div class="row mb-3">
                        <div class="col">
                            <input type="text" class="form-control" name="Name" id="name-input" placeholder="Name" required>
                        </div>
                        <div class="col">
                            <input type="text" class="form-control" name="Surname" id="surname-input" placeholder="Surname" required>
                        </div>
                    </div>

                    <!-- Telefon ve E-posta -->
                    <div class="row mb-3">
                        <div class="col">
                            <input type="email" class="form-control" name="Email" id="email-input" placeholder="Email" required />

                        </div>
                        <div class="col">
                            <input type="tel" class="form-control" name="Phone" id="phone-input" placeholder="Phone Number" pattern="[0-9]{10}">
                        </div>
                    </div>

                    <!-- İletişim Yöntemi -->
                    <div class="mb-3">
                        <label for="contact-method" class="form-label">Preferred Communication Method</label>
                        <select id="contact-method" name="ContactMethod" class="form-select" style=" width: 35%; ">
                            <option selected></option>
                            <option value="0">Email</option>
                            <option value="1">Phone Number</option>
                        </select>
                    </div>

                    <!-- Mesaj Alanı -->
                    <div class="mb-3">
                        <textarea class="form-control" name="Message" id="message-text" placeholder="Text" required></textarea>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input type="submit" class="btn btn-primary" id="submitting" onclick="save()" value="Send Message" />
            </div>
        </div>
    </div>
</div>
<div class="background2">
    <div class="o-page">

        <div class="card-container" style="margin-top:0px;">
            <div class="card" style="width: 18rem;">
                <img src="~/Media/csharp-logo-265a149e.svg" class="card-img-top" alt="csharp">
                <div class="card-body">
                    <p class="card-text">A brief demonstration code snippet to illustrate the functionality of the class and serve as the core of the application’s logic.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/Media/pngwing.com.png" class="card-img-top" alt="mongodb">
                <div class="card-body">
                    <p class="card-text">Sample data entries to showcase the schema design and represent the majority of the database's records.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/Media/sql-server-logo-white.png" class="card-img-top" alt="mssql">
                <div class="card-body">
                    <p class="card-text" style="margin-top:20px;">An example SQL query to highlight the table structure and form the foundation of the database operations.</p>
                </div>
            </div>
            <div class="card" style="width: 18rem;">
                <img src="~/Media/node.png" class="card-img-top" alt="node">
                <div class="card-body">
                    <p class="card-text">A concise example script to demonstrate the server setup and constitute the main part of the application’s backend.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="background2a" style="padding: 15px;background: #d4f4fd;background: -webkit-linear-gradient(0deg, #d4f4fd 0%, #baeffa 50%, #e1f7fb 100%);background: linear-gradient(0deg, #d4f4fd 0%, #baeffa 50%, #e1f7fb 100%);">

    <article id="main-content">
        <div class="wrapper flow">

            <h2 class="headline flow-space-600">Bringing <span class="func"><b class="weight-bold color-secondary">functionality</b></span> <br />to your<b class="dimmed"> Web </b>specifications.</h2>

            <p>
                <b>
                    Do you have an impressive website concept, but it still feels more like a sketch than a fully developed platform? <br />
                    Perhaps you're looking to establish an online presence for your business or launch an e-commerce site but aren’t sure how to proceed.
                </b>
            </p>
            <p>
                <b>
                    Win over your customers and investors with an engaging online experience that not only meets but exceeds their expectations.
                </b>
            </p>
            <p><b>I’m here to help you bring that vision to life.</b></p>

            <div class="key-facts flow-space-major">

                <h3 class="text-700" style="margin-bottom: 4.2rem">Here’s how...</h3>
                <ol class="[ key-facts__list ] [ auto-grid ]">

                    <li class="flow">
                        <a class="skill-outer interactive">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                                <g fill="none" stroke="#fff" opacity="0.87">
                                    <!-- Ellipses -->
                                    <path class="ellipse4" />
                                    <path class="ellipse3" />
                                    <path class="ellipse2" />
                                    <path class="ellipse1" />
                                    <path class="ellipse0" />
                                    <!-- Center Circle -->
                                    <path class="ellipse" d="M68,61.83a12,12 0 1,0 24,0a12,12 0 1,0 -24,0" stroke-miterlimit="10" fill="#fff" />
                                    <!-- Hand Icon -->
                                    <path class="hand" d="M100.33 82.21a5.82 5.82 0 0 0-3.66.19c-.08-.93-.46-3.07-2.32-3.64a5.83 5.83 0 0 0-3.74.21 3.59 3.59 0 0 0-2.24-3 5.85 5.85 0 0 0-3.64.17v-7.68c0-2-.83-5.44-4-5.44-2.91 0-4 3.25-4 5.44v17.08C75.34 84.12 73 82.13 71.14 82c-3-.24-5.19 1.64-4.59 4.56s3.12 2.75 5 5.14 6.34 9.81 6.37 9.86c.67 1.26 2.49 4.74 2.79 5.62a12 12 0 0 1 .27 3.09.79.79 0 0 0 .22.55.76.76 0 0 0 .54.23h17.18a.77.77 0 0 0 .76-.68 17.08 17.08 0 0 0 0-2.73 5.5 5.5 0 0 1 1.32-3.84 11.61 11.61 0 0 0 1.63-4.52v-2.84c.04-.28-.01-3.35-2.3-4.07z" fill="#121212" stroke-miterlimit="10" />
                                    <!-- Bars -->
                                    <path class="bar" d="M96.68 88.8v-6.4" />
                                    <path class="bar" d="M90.61 87.29v-8.36" />
                                    <path class="bar" d="M84.73 86.74V76.13" />
                                    <path class="bar" d="M76.79 87.94v-2.39" />
                                </g>
                            </svg>
                        </a>
                        <h3 style="color:white;" class="flow-space-600 font-sans color-primary-shade">Interactive</h3>
                        <p style="color:white;" class="flow-space-600 color-dark-glare">
                            Engaging example content designed to illustrate user interaction and form the heart of the interactive experience.
                        </p>
                    </li>


                    <li class="flow">
                        <br />
                        <a class="shapes">

                        </a>
                        <h3 style="color:white;" class="flow-space-600 font-sans color-primary-shade">
                            Dynamic
                        </h3>
                        <p style="color:white;" class="flow-space-600 color-dark-glare">A brief showcase of code that highlights real-time updates and serves as the foundation for the dynamic functionality.</p>

                    </li>

                    <li class="flow">

                        <a class="skill-outer graphic">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 160 160">
                                <g opacity=".87" fill="none" stroke="#fff">
                                    <path class="graphic-shape2" d="M68.54 60.66h60v60h-60z" />
                                    <path class="graphic-middle" d="M68.54 91h.31a30 30 0 0 0 30-30v-.31H68.54z" />
                                    <path class="graphic-shape1" d="M68.85 31a30 30 0 0 1 30 30 30 30 0 0 1-30 30 30 30 0 0 1-30-30 30 30 0 0 1 30-30z" />
                                    <circle class="graphic-dot2" cx="" cy="" r="3" fill="#fff" stroke="transparent" />
                                </g>
                            </svg>
                        </a>
                        <h3 class="flow-space-600 font-sans color-primary-shade" style="color:white;">
                            Aesthetic
                        </h3>
                        <p class="flow-space-600 color-dark-glare" style="color:white;">An inspiring visual example to demonstrate design principles and create the essence of the aesthetic appeal.</p>
                    </li>

                </ol>
            </div>
        </div>
    </article>
</div>

<footer role="contentinfo" class="background3">
    <div class="[ wrapper ] [ flex between ]" style="font-size:24px;">
        <article class="panel" id="footerSection">

            <div class="[ about tagline ]">
                <h3 class="text-start">
                    <a><i><b>Burak Kurtulush</b></i></a>
                </h3>
                <p class="text-start">
                    <span>Junior Web Developer</span>
                </p>
            </div>

            <div class="gap-top-600">
                <ol>
                    <li>Frontend Development</li>
                    <li>Websites & Web Apps</li>
                    <li>Backend Development</li>
                    <li>Data Management</li>
                </ol>
            </div>


            <address class="gap-top-600">
                <span>
                    Tekke Mahallesi Ormo Sokak<br />
                    Orhangazi · Bursa<br /><br />
                </span>
                <a id="mail" class="color-light" href="mailto:burakkurtulus018@gmail.com">burakkurtulus018@gmail.com</a><br /><br />
                <a href="tel:+905386447092" class="color-light">+90 538 644 7092</a>
            </address>

        </article>
        <div class="social-media text-center gap-top-600">
            <h5>Social Media:</h5>
            <a href="https://github.com/Burak849" target="_blank" class="social-link">
                <img src="~/Media/githubicon.png" alt="GitHub" width="30" height="30" />
            </a>
            <a href="https://linkedin.com/in/burak-kurtulush/" target="_blank" class="social-link">
                <img src="~/Media/linkedinicon.png" alt="LinkedIn" width="30" height="30" />
            </a>
            <a href="https://instagram.com/burak.krtlsh/" target="_blank" class="social-link">
                <img src="~/Media/instagicon.png" alt="Instagram" width="30" height="30" />
            </a>
        </div>
    </div>

    <script>
        const easter = document.querySelector('a[href="#mail"]');
        const wubwub = () => {
            audio.currentTime = 0;
            audio.volume = 0.5;
            audio.loop = false;
            audio.play();
            navigator.vibrate([0, 100, 250, 100, 300]);
        }
        easter.addEventListener('mousedown', wubwub);
        easter.addEventListener('animationend', () => document.activeElement.blur());
    </script>
</footer>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>



<script>

    window.onscroll = function () {
        const scrollPosition = document.body.scrollTop || document.documentElement.scrollTop;

        if (scrollPosition > 200) {
            document.querySelector('.background2').classList.add('show-background');

            document.querySelector('.background3').classList.remove('show-background');
        } else if (scrollPosition > 220) {
            document.querySelector('.background3').classList.add('show-background');
        } else {
            document.querySelector('.background2').classList.remove('show-background');
            document.querySelector('.background3').classList.remove('show-background');
        }
    };


    $(document).ready(function () {
        $('#submitting').click(function () {
            save();
        });
    });
    let shouldReload = true;
    function save() {

        var formData = {
            Title: $("select[name='Title']").val(),
            Name: $("input[name='Name']").val(),
            Surname: $("input[name='Surname']").val(),
            Email: $("input[name='Email']").val(),
            Phone: $("input[name='Phone']").val(),
            ContactMethod: $("select[name='ContactMethod']").val(),
            Message: $("textarea[name='Message']").val()
        };
        console.log(formData);
        // AJAX isteği
        $.ajax({
            type: "POST",
            url: '/Home/SubmitContactForm',
            data: JSON.stringify(formData),  // JSON formatına çeviriyoruz
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.success) {
                    alert(response.message);
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function (xhr, status, error) {
                alert("An error occurred: " + error);
            }
        });
    }


</script>