@{
    ViewBag.Title = "Home Page";
}

<style>
    .navbar-nav .nav-link {
        color: white !important;
    }

    html, body {
        margin: 0;
        padding: 0;
        height: 100%;
        background-image: url(/Media/starry.svg); /* İlk arka plan */
        background-size: cover;
        background-position: center;
        font-family: Arial, sans-serif;
        opacity: 1;
        visibility: visible;
        transition: background-image 0.5s; /* Arka plan geçiş efekti */
    }

    .background1 {
        position: relative; 
        padding:40px;
        margin: 0;
        width: 100%;
    }

    .background2 {
        position: relative; /* Pozisyonu relative yap */
        margin-left: -20px;
        margin-top: 50vh; /* İlk arka planın altında yer alacak şekilde ayarla */
        width: 103%;
        height: 120vh; /* Tüm görünüm yüksekliğini kaplar */
        background-color: #000017;
        opacity: 0; /* Başlangıçta görünmez */
        transition: opacity 0.5s; /* Geçiş efekti */
        z-index: 1; /* Daha düşük z-index */
    }

    .show-background {
        opacity: 1; /* Gösterir */
    }

    .backgroundcontainer {
        margin-top: 120px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 15px;
        border-collapse: collapse;
        overflow: hidden;
        box-shadow: 0 5px 8px rgba(0, 0, 0, 1);
        padding: 25px;
        width: 40%;
    }

    .blur-background {
        height: 470px; /* Yüksekliği tam sayfa yapar */
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        padding: 20px;
        border-radius: 15px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0);
        flex-wrap: wrap;
    }

    .background3 {
        position: relative;
        margin-left: -20px;
        width: 103%;
        height: 50vh;
        background-color: black; /* Beyaz arka plan */
        background-image: none; /* Varsayılan arka planı sıfırlayın */
        opacity: 1; /* Başlangıçta görünmez */
        transition: opacity 0.5s;
        z-index: 1;
    }

</style>


<div class="background1">
    <h1 style="color:white;"><strong>Dynamic web solutions that engage and deliver results.</strong></h1>
    <br />
    <div>
        <div class="container">
            <div class="container-content">
                <h3 style="color:white;">
                    I can put my love of coding to work for you and your business, creating responsive websites, stunning web applications and aesthetic interfaces.
                </h3>
                <br />
                <button type="button" class="btn btn-success btn-outline-primary" style="border:none; border-radius:30px; width:200px; font-size:x-large; color:white;">Contact Me</button>
            </div>
        </div>
        <div class="altformum">
            <div class="kullanilan-diller">
                <p>HTML5</p>
                <p>CSS3</p>
                <p>JavaScript</p>
                <p>ASP.NET</p>
                <p>React.js</p>
                <p>UI / UX</p>
            </div>
        </div>
    </div>
</div>



<!-- background2 ve background3 için boş div oluştur -->
<div class="background2"></div>
<div class="background3"></div>

<script>
    window.onscroll = function () {
        const scrollPosition = document.body.scrollTop || document.documentElement.scrollTop;

        if (scrollPosition > 200 ) {
            document.querySelector('.background2').classList.add('show-background');
            document.querySelector('.background3').classList.remove('show-background');
        } else if (scrollPosition > 220) {
            document.querySelector('.background3').classList.add('show-background');
        } else {
            document.querySelector('.background2').classList.remove('show-background');
            document.querySelector('.background3').classList.remove('show-background');
        }
    };

</script>
